body {
	width: 100%;
  height: auto;
	background-image: url('../img/background.jpg');
	background-repeat:no-repeat;
	background-position:center;
	background-size: 1440px 800px;
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-color: black;
	font-size: 200%;
	color: white;
}

#logo {
	max-height: 100px;
}
